body {
  margin: 0;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-image:url("https://i.makeagif.com/media/9-29-2015/Fbny_z.gif");
  padding: 30px;
  /* transition: opacity .5s,box-shadow .4s; */
  background-repeat:round;
   color: white;
}
.header h3{
    text-align: center;
}
.head-div{
      display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#navbar {
  overflow: hidden;
  background-image:url("https://basicuse.net/var/plain_site/storage/images/media/images/articles/prog_lang/textile/html_css/animated_falling_snow_using_keyframes_in_css3/falling_snow_animation_in_action/265031-1-eng-GB/falling_snow_animation_in_action.gif");
}
.head-icon{
    font-size: 30px;
    position: absolute;
    top: -5px;
    bottom: 29px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
.Search{
    width: 350px;
    position: fixed;
    height: 35px;
    font-size: 18px;
    background-color:rgb(177, 175, 171);
    border: 0px;
     opacity: 0.5;
      filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(5);
   filter: grayscale(5);
   border-radius: 5px;
   z-index: 1;
   top: 5px;
}
.singup{
    width: 95px;
    height: 30px;
    background-color: #04AA6D;
    font-size: 15px;
    font-weight: 700;
    color: #ddd;
    border-radius: 5px;
    margin: 8px;
}
.singup1{
    width: 95px;
    height: 30px;
    background-color: #7248e6;
    font-size: 15px;
    font-weight: 700;
    color: #ddd;
    border-radius: 5px;
    margin: 8px;
}
.signin{
    width: 95px;
    height: 30px;
    background-color: transparent;
    font-size: 15px;
    font-weight: 700;
    color: #ddd;
    border-radius: 5px;
    margin: 8px;
    border: 0px;
}
.font-div{
    font-size: 22px;
}
.elemnt--bg{
    background-color: #04AA6D;
    font-size: 12px;
    margin-top: 0%;
    padding: 2%;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        padding: 8%;
        grid-gap: 5px;
        
    }
    .main{
        background-color: #15306b;
    }